<center><h1> This is Section 1 for the Segmenting and Clustering Neighbourhoods in Toronto Assignment</h1>

<hr>

Importing Libraries and Packages:

In [1]:
#!pip install beautifulsoup4 
#!pip install lxml 

import numpy as np # library to handle data in a vectorized manner
import pandas as pd # library for data analsysis
from bs4 import BeautifulSoup #  library for pulling data out of HTML and XML files
import lxml # parsing websites into lxml format
import requests # library to handle requests
import csv
print('Imported')

Imported

Obtaining the souce code for the website in text format:

In [2]:
source=requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
#source

Running the website text through the BeautifulSoup library to create an object:

In [3]:
soup=BeautifulSoup(source,'lxml')
#soup

Isolating the postal code table:

In [4]:
table=soup.find('table', class_='wikitable sortable')
#table

Defining the table headers:

In [5]:
def get_table_headers(table):
    headers=[]
    for th in table.find('tr').find_all('th'):
        headers.append(th.text.strip())
    return headers

head=get_table_headers(table)
print(head)

['Postal Code', 'Borough', 'Neighbourhood']

Defining the table rows:

In [6]:
def get_table_rows(table):
    rows=[]
    for tr in table.find_all('tr')[1:]:
        cells=[]
        tdr=tr.find_all('td')
        if len(tdr)==0:
            thr=tr.find_all('th')
            for th in thr:
                cells.append(td.text.strip())
        else:
            for td in tdr:
                cells.append(td.text.strip())
        rows.append(cells)
    return rows

table_rows=get_table_rows(table)
#table_rows

Creating a csv file:

In [7]:
def save_as_csv(table_name, headers, rows):
    pd.DataFrame(rows, columns=headers).to_csv(f"{table_name}.csv")

save_as_csv("gta_table", head, table_rows)

Loading the created gta_table.csv data:

In [8]:
df = pd.read_csv('gta_table.csv')
df.head()

   Unnamed: 0 Postal Code           Borough              Neighbourhood
0           0         M1A      Not assigned               Not assigned
1           1         M2A      Not assigned               Not assigned
2           2         M3A        North York                  Parkwoods
3           3         M4A        North York           Victoria Village
4           4         M5A  Downtown Toronto  Regent Park, Harbourfront

Removing the rows with 'Not assigned':

In [9]:
cdf=df[df.Borough !='Not assigned']
cdf.head()

,Unnamed: 0,Postal Code,Borough,Neighbourhood
2,2,M3A,North York,Parkwoods
3,3,M4A,North York,Victoria Village
4,4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
5,5,M6A,North York,"Lawrence Manor, Lawrence Heights"
6,6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"

Dropping the 'Unnamed: 0' column:

In [10]:
cdf=cdf.drop('Unnamed: 0', axis=1)
cdf.head()

  Postal Code           Borough                                Neighbourhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

Table grouped by Postal Code:

In [11]:
final_df=cdf.groupby(['Postal Code'], sort=False).agg(','.join)
final_df.reset_index(inplace=True)
final_df.head()

  Postal Code           Borough                                Neighbourhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.

In [12]:
final_df['Neighbourhood']=np.where(final_df['Neighbourhood']=='Not assigned', final_df['Borough'], final_df['Neighbourhood'])
final_df.head(12)

,Postal Code,Borough,Neighbourhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
5,M9A,Etobicoke,"Islington Avenue, Humber Valley Village"
6,M1B,Scarborough,"Malvern, Rouge"
7,M3B,North York,Don Mills
8,M4B,East York,"Parkview Hill, Woodbine Gardens"
9,M5B,Downtown Toronto,"Garden District, Ryerson"
10,M6B,North York,Glencairn
11,M9B,Etobicoke,"West Deane Park, Princess Gardens, Martin Grov..."

Final table shape:

In [13]:
final_df.shape

(103, 3)

<hr>

<center><h1> This is Section 2 for the Segmenting and Clustering Neighbourhoods in Toronto Assignment</h1>

<hr>

Creating csv file:

In [16]:
lat_long=pd.read_csv('https://cocl.us/Geospatial_data')

Displaying table:

In [17]:
lat_long.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

Merging the tables:

In [18]:
merged_df=pd.merge(final_df, lat_long)

Display new merged table:

In [20]:
merged_df.head()

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494